<h1>Lenders#new</h1>
<p>Find me in app/views/lenders/new.html.erb</p>

<%= form_for @lender do |f| %>
<%= f.label :username %>
<%= f.text_field :username %><br>
<%= f.label :note %>
<%= f.text_field :note %><br>
<%= f.submit %>

<% end %>